@font-face {
    font-family: 'Cursed Timer ULiL';
    src: url("cursed-timer-ulil-font/CursedTimerUlil-Aznm.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #1B244A;
    text-align: center;
    font-family: 'Verdana', sans-serif;
    color: #EEEEEE;
    padding: 40px 20px;
}

h3 {
    color: white;
    font-size: 56px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-weight: 700;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 6rem;
    max-width: 1200px;
    margin: 0 auto 40px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    background: #0a0001;
    font-family: 'Cursed Timer ULiL', 'Verdana', sans-serif;
    font-size: 90px;
    color: #F94F6D;
    width: 240px;
    height: 180px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #000;
}

.add-button {
    display: flex;
    gap: 15px;
}

button {
    background: none;
    border: 2px solid #9AABD8;
    color: #9AABD8;
    font-size: 18px;
    padding: 10px 15px;
    width: 65px;
    height: 65px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s;
    font-family: 'Cursed Timer ULiL';
}

button:hover {
    background: #9AABD8;
    color: #1B244A;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

#reset-btn {
    margin: 20px auto;
    padding: 12px 30px;
    width: auto;
    font-size: 16px;
}