body {
    background: #1C1C1C;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.container {
    margin: 50px auto;
    width: 550px;
}

.header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #6943FF;
    color: white;
    width: 100%;
    height: 285px;
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px; /* 135.714% */
    letter-spacing: -0.84px;
    margin: 0 0 35px 0;
}

#input-el {
    width: 117px;
    border-radius: 5px;
    border: 2px solid #B295FF;  
    background: #6943FF;
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 58px;
    font-weight: 800;
    line-height: 24.393px;
    margin-bottom: 25px;
}

/* Remove default number input arrows */
#input-el::-webkit-outer-spin-button,
#input-el::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#input-el[type=number] {
    -moz-appearance: textfield;
}

.button-section{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

button {
    background: white;
    padding: 9px 27.5px;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #3D3D3D;
}

button:hover{
    cursor: pointer;
    background: #f5f5f5;
}

button:active{
    transform: scale(0.98);
    transition: 0.04s;
}

.unit-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 25px;
    background: #F4F4F4;
}

.conversion {
    border-radius: 4.681px;
    background: var(--white, #FFF);
    width: 450px;
    height: 108.573px;
    padding: 25px;
    text-align: center;
    margin-bottom: 24px;
}

.conversion:last-child {
    margin-bottom: 0;
}

h2 {
    color: #5A537B;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 100% */
}

.description {
    color: #353535;
    text-align: center;

    /* text-sm/leading-5/font-normal */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin: 0;
}

.copyright{
    font-size: 0.8em;
    text-align: center;
    color:white
}

.copyright a {
    color:white
}

.copyright a:hover {
    color:lightgreen
}
